<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="cybertete.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.0.v20180426-1936"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.0.v20180301-0132"/>
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
			<unit id="org.eclipse.emf.common.feature.group" version="2.14.0.v20180527-1134"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="2.14.0.v20180529-1144"/>
		<repository location="http://download.eclipse.org/releases/photon"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="dnsjava" version="2.1.8"/>
			<unit id="org.igniterealtime.smack.core" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.debug" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.extensions" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.im" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.java7" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.resolver-dnsjava" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.resolver-javax" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.sasl-javax" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.sasl-provided" version="4.1.8"/>
			<unit id="org.igniterealtime.smack.tcp" version="4.1.8"/>
			<unit id="org.jxmpp.core" version="0.4.2"/>
			<unit id="org.jxmpp.jid" version="0.4.2"/>
			<unit id="org.jxmpp.util-cache" version="0.4.2"/>
			<unit id="xpp3" version="1.1.0.4c"/>
			<unit id="au.com.cybersearch2.statusbar.feature.feature.group" version="1.2.1.201902040704"/>
			<unit id="au.com.cybersearch2.statusbar.feature.source.feature.group" version="1.2.1.201902040704"/>
			<unit id="au.com.cybersearch2.control_factory.feature.source.feature.group" version="1.2.1.201902040702"/>
			<repository location="http://micro-pro.cybersearch2.com:8098/p2/Cybersearch2"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.opcoach.e4.preferences.feature.feature.group" version="1.1.0.201710152105"/>
			<repository location="https://dl.bintray.com/opcoach/e4Preferences"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.6.0.v20180903-1343"/>
			<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.15.0.v20180827-1536"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.100.v20180827-1352"/>
			<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.5.100.v20180829-1443"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.15.0.v20180904-1442"/>
			<repository location="http://download.eclipse.org/eclipse/updates/4.9"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.9.0.v20180906-1121"/>
		</location>
	</locations>
</target>