<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="cybertete.target" sequenceNumber="1">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.2.102.v20160128-1406"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.102.v20160129-0947"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.11.2.v20160128-1406"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.12.0.v20151130-0157"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.2.0.v20151130-0157"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.101.v20150826-1318"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.12.0.v20151130-0157"/>
<unit id="org.eclipse.jdt.source.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.300.v20150430-1836"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.11.2.v20160208-0816"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.100.v20150527-1706"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.11.1.v20160208-0816"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="dnsjava" version="2.1.7"/>
<unit id="org.jxmpp.util-cache" version="0.4.2"/>
<unit id="org.igniterealtime.smack.resolver-javax" version="4.1.7"/>
<unit id="org.igniterealtime.smack.core" version="4.1.7"/>
<unit id="org.igniterealtime.smack.tcp" version="4.1.7"/>
<unit id="org.igniterealtime.smack.sasl-provided" version="4.1.7"/>
<unit id="org.igniterealtime.smack.sasl-javax" version="4.1.7"/>
<unit id="org.igniterealtime.smack.debug" version="4.1.7"/>
<unit id="org.jxmpp.core" version="0.4.2"/>
<unit id="org.igniterealtime.smack.resolver-dnsjava" version="4.1.7"/>
<unit id="org.igniterealtime.smack.extensions" version="4.1.7"/>
<unit id="org.igniterealtime.smack.java7" version="4.1.7"/>
<unit id="xpp3" version="1.1.0.4c"/>
<unit id="org.igniterealtime.smack.im" version="4.1.7"/>
<repository location="file:/E:/git/cybertete/repo/p2/target/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.opcoach.e4.preferences.feature.feature.group" version="1.0.0.201603310905"/>
<repository location="https://dl.bintray.com/opcoach/e4Preferences"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="au.com.cybersearch2.statusbar.feature.source.feature.group" version="1.1.0.201607160319"/>
<unit id="au.com.cybersearch2.control_factory.feature.source.feature.group" version="1.1.0.201607151040"/>
<unit id="au.com.cybersearch2.statusbar.feature.feature.group" version="1.1.0.201607160319"/>
<unit id="au.com.cybersearch2.control_factory.feature.feature.group" version="1.1.0.201607151040"/>
<repository location="https://dl.bintray.com/andrew-bowley/generic/Statusbar/V1.1.0/"/>
</location>
</locations>
</target>
